* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar {
  padding-bottom: 10px;
  box-shadow: 0 6px 6px -6px grey;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: grey;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: grey;
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}
