body {
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Common styles
.text-center {
  text-align: center;
}

.text-muted {
  opacity: 0.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-right: 10px;
  padding-left: 10px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

// Navbar
.navbar {
  padding-bottom: 10px;
  box-shadow: 0 6px 6px -6px grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .navbar-toggle {
    margin-top: auto;
    margin-bottom: auto;
  }
  img {
    margin-top: auto;
    margin-bottom: auto;
  }
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

// Card
.card {
  background-color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  margin-left: auto;
  margin-right: auto;
  &.shadow {
    box-shadow: 0px 3px 15px -5px grey;
  }
  .cardBody {
    padding: 10px;
    p {
      display: flex;
      padding: 5px;
      .iconWrapper {
        width: 30px;
      }
      span {
        color: #0a2239;
        font-weight: bold;
      }
    }
    .moreDetails {
      animation: fadeout 0.5s;
      animation-fill-mode: forwards;
    }
    &.toggled {
      .moreDetails {
        display: flex;
        animation: fadein 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
  .footer {
    .footerContent {
      display: flex;
      align-items: center;
      padding: 15px;
      .userAvatar {
        width: 50px;
        height: fit-content;
        padding-right: 15px;
      }
    }
    .toggleBtn {
      background-color: #2355fc0f;
      color: #194dff;
      font-size: 12px;
      padding: 5px;
      opacity: 0.9;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 72px;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    height: 72px;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

// Price button
.priceButtonContainer {
  display: flex;
  justify-content: space-evenly;
  label {
    padding: 10px;
    border-radius: 29px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #e7ebee;
    font-weight: bold;
    letter-spacing: 0.05em;
    opacity: 0.5;
  }
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked {
      + label {
        color: #3054d6;
        border: 2px solid #3054d6;
        opacity: 0.9;
      }
    }
  }
}

// Custom inout field
.wrap {
  div {
    position: relative;
    margin: 30px 0;
    input[type="text"],
    input[type="tel"] {
      width: 100%;
      padding: 15px;
      border: 2px solid #e7ebee;
      &:focus {
        outline: none;
        border: 2px solid #3054d6;
      }
    }
    label {
      background-color: #ffffff;
      color: #0d0d0f;
      opacity: 0.5;
      position: absolute;
      top: 0;
      font-size: 16px;
      margin: 16px;
      -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
      transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
      &.active {
        color: #3054d6;
        opacity: 1;
        top: -28px;
        font-size: 16px;
      }
    }
  }
}
